.survey-container {
  padding: 30px;
  max-width: 500px;
  margin: 80px auto;
  background-color: #fff6f6;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
}

.survey-container form {
  display: flex;
  flex-direction: column;
}

.survey-container label {
  margin-bottom: 15px;
  font-weight: bold;
}

.survey-container textarea,
.survey-container select {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.survey-container button {
  margin-top: 20px;
  background-color: #EF4F4F;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.thanks-message {
  text-align: center;
  margin-top: 30px;
}

.star-rating {
  display: flex;
  gap: 6px;
  margin: 12px 0 24px;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #ddd;
  transition: color 0.2s;
}

.star.filled {
  color: #EF4F4F;
}
